@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
  }
  .primary-bg{
    background: linear-gradient(180deg, rgba(17,24,39,1) 57%, rgba(23,31,47,1) 86%);
  }
  .padding-x{
    padding-left: 1rem;
    padding-right:1rem;
  }
  .gray-border{
    border:1px solid rgb(31 41 55);
    border-radius:7px;
  }
  .paragraphStyle {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem;
    font-weight: 100
    
  }
  .nuxt-link-active  {
    color: #DB1F2A;
    border-color:#DB1F2A ;
  }
  
.bg-none{
    background: none;
}
*,
::before,
::after {
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.invert-1{
  filter: invert(100%);
}
.grayscale-1{
  filter: grayscale(100%);
}
.grayscale-none:hover{
  animation-name: color;
  animation-duration: .1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards
}
@keyframes color{
  0%{
    filter: grayscale(100%);
  }
  100%{
    filter: grayscale(0%);
  }
}